html
body
  background: #fff
  
.counter
  position: relative
  margin-top: 20px
  
.counter-text
  h3
    font-size: 45px
.sidebar-statistic
  .label
    color: #666
    font-size: 12px
  dl
    color: #666
    font-size: 12px
    margin-bottom: 5px
    dt
      padding-left: 0px