html
body
  background: #fff
  
.counter
  position: relative
  margin-top: 20px
  
.counter-text
  h3
    font-size: 45px
.sidebar-statistic
  .label
    color: #666
    font-size: 12px
  dl
    color: #666
    font-size: 12px
    margin-bottom: 5px
    dt
      padding-left: 0px

.form-item
  margin-bottom: 15px
  label
    line-height: 34px

.button-row
  margin-top: 15px

.react-date-field--theme-default
  border: none

.react-date-field__input
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;